@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--light-gray);
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 40%;
  margin: 70px auto;
  border: 0.1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
}

.join-card {
  background-color: white;
  padding: 30px;
  line-height: 25px;
}

.signup-card {
  background-color: var(--cyan);
  padding: 30px;
  color: white;
  line-height: 40px;
}

.why_us-card {
  background-color: var(--cyan);
  padding: 30px;
  color: white;
  line-height: 24px;
  opacity: 70%;
  font-size: 14px;
}

.subcription {
  display: flex;
}

.sub_amount {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

.signup-button {
  cursor: pointer;
  background-color: var(--bright-yellow);
  width: 80%;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  margin: 15px auto;
}

.signup-button:hover {
  opacity: 80%;
}

#title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
}

h1 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
  color: var(--cyan);
}

#grayish_blue {
  color: var(--grayish-blue);
}

#light_gray {
  color: var(--light-gray);
}

.guarantee {
  color: var(--bright-yellow);
  font-size: 20px;
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: auto;
}

/* Responsive Design */

@media (max-width: 375px) {
  .signup-button {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  
}

@media (min-width: 1440px) {
  .card {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 1fr;
  }
}
